import React from 'react';
import styles from './{{properCase name}}.module.scss';

export interface Props {}

const {{properCase name}}: React.FC<Props> = () => {
	return (
		<div>

		</div>
	)
}

export default {{properCase name}};
