.navigation {
	ul {
		padding: 0;
		margin: 0;

		list-style: none;

		@media screen and (max-width: 960px) {
			display: flex;
			flex-flow: row wrap;
			gap: 1rem;

			li {
				margin: 0;
			}

			a {
				font-size: 1rem;
			}
		}
	}
}

.link {
	color: white;
	text-decoration: none;
}

a.active {
	position: relative;
	z-index: 1;

	display: inline-block;
	padding: 0 10px;

	color: black;
	text-decoration: none;
	font-style: italic;
	font-weight: 700;

	transition: transform 150ms ease-in-out;

	&::before {
		content: " ";
		position: absolute;
		inset: 0;
		z-index: -1;

		background-color: white;
		transform: var(--highligh-skew);
	}
}
