:root {
	--container--padding: 4rem 2rem;
	--font-heading: "Permanent Marker";
	--highligh-skew: skew(-20deg);

	@media screen and (max-width: 960px) {
		--container--padding: 1rem;
	}
}


html,
body {
	padding: 0;
	margin: 0;
}

body {
	font-family: sans-serif;
	line-height: 1.2;

	@media screen and (min-width: 640px) {
		font-size: 1.125rem;
	}
}

* {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	font-family: var(--font-heading);
}

h2 {
	&::after {
		content: " ";
		display: block;

		width: 100%;
		max-width: 75px;
		height: 1px;

		margin: 5px 0;

		background-color: black;
	}
}

ul {
	margin: 0.5em 0;
	padding-left: 1.5rem;

	li {
		margin-bottom: 0.5em;
	}
}

.highlight {
	position: relative;
	z-index: 1;

	display: inline-block;
	padding: 4px 10px;

	color: white;
	text-decoration: none;
	font-style: italic;

	&::before {
		content: " ";
		position: absolute;
		inset: 0;
		z-index: -1;

		background-color: black;

		transform: var(--highligh-skew);
	}
}
